
.background-bg-container {
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-bg.png");
    height: 100vh;
    background-size: cover;
}

.new-card-container {
    background-color: #ffffff;
    height: 30vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;

}

.main-heading {
    color: #f19116;
}

.paragraph {
    color: #7b8794;
}

.button {
    background-color: #f19116;
    color: #ffffff;
    border-color: #f19116;
    border-radius: 5px;
    margin: 20px;
}

.next-card-container {
    background-color: #222222;
    height: 150vh;

}

.main-head {
    color: #f19116;
    font-size: 30px;
}

.card-container {
    background-color: #ffffff;
    height: 35vh;
    color: #0f0e46;
    border-radius: 20px;
    margin: 10px;
}

.button-back {
    background-color: #f19116;
    color: #ffffff;
    border-color: #f19116;
    border-radius: 5px;
    margin: 40px;
}

.threebhk-flate {
    height: 60vh;

}

.headings {
    color: #f19116;
    font-size: 25px;
}

.cards {
    background-color: #222222;
    height: 70vh;
}

.paralocation {
    color: #ffffff;
}